<!DOCTYPE html>
<!--
This is the Games page for The Board Game Whisperer
Author: Nikkala Thomson
-->

<html lang="en-us">

<head>
    <link rel="stylesheet" type="text/css" href="styles/normalize.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/main_style.css" />
    <meta charset="UTF-8">
    <meta name="author" content="Nikkala Thomson">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="pinterest" content="nopin">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../models/register.js"></script>
    <title>The Board Game Whisperer | Game Preferences</title>
</head>

<body>
    <header>
        <div id="header-band"></div>
        <div id="header-text" class="center-block">
            <h1>Get a Game Recommendation</h1>
        </div>
    </header>
    <div class=center-block>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>

                <li id="active-nav"><a href="/games">Games<img src="../images/yellow-arrow.png" alt=""></a></li>
            </ul>
        </nav>
        <main>
            <section class="wide-section">
                <br>
                <br>


                <form id="myForm2" action="games" method="post">

                    <button type="submit" name="submit" class="submit_btn">Get a Game Recommendation Based on the Preferences Below</button><br>
                    <input id="go" name="go" type="hidden" value="Preferences Submitted"><br>
                    <p>Minimum number of players:
                        <select name="min_players" id="min_players">
                            <%
var options = [ "1", "2", "3", "4", "5", "6", "7", "8", "9", "10"];
for ( var i = 0; i < options.length; i++ )
{
    var selected = ( min_pl == i) ? "selected" : "";
    %><option value="<%=options[ i ] %>" <%=selected %>><%=i %></option><%
}
%>
                        </select></p>

                    <p>Maximum number of players:
                        <select name="max_players" id="max_players">
                            <%
var options2 = [ "1", "2", "3", "4", "5", "6", "7", "8", "9", "10"];
for ( var i = 0; i < options2.length; i++ )
{
    var selected = ( max_pl == i) ? "selected" : "";
    %><option value="<%=options2[ i ] %>" <%=selected %>><%=i %></option><%
}
%>
                        </select></p>

                    <p>Minimum playtime:
                        <select name="min_playtime" id="min_playtime">
                            <%
var options3 = [ "1", "15", "30", "45", "60", "90", "120", "150", "180", "210", "240", "300"];
for ( var i = 0; i < options3.length; i++ )
{
    var selected = ( min_ply == options3[i]) ? "selected" : "";
    %><option value=<%= options3[i] %> <%=selected %>><%= optiosn3[i] %></option>
                            <% } %>
                        </select></p>

                    <p>Maximum playtime:
                        <select name="max_playtime" id="max_playtime">
                            <%
var options = [ "15", "30", "45", "60", "90", "120", "150", "180", "210", "240", "300", "360"];
for ( var i = 0; i < options.length; i++ )
{
    var selected = ( max_ply == options[i]) ? "selected" : "";
    %><option value="<%=options[ i ] %>" <%=selected %>><%=i %></option><%
}
%>
                        </select></p>


                    <p>Minimum game weight:
                        <select name="min_weight" id="min_weight">
                            <%
var options = [ "1.0", "1.5", "2.0", "2.5", "3.0", "3.5", "4.0", "4.5"];
for ( var i = 0; i < options.length; i++ )
{
    var selected = ( min_w == options[i]) ? "selected" : "";
    %><option value="<%=options[ i ] %>" <%=selected %>><%=i %></option><%
}
%>
                        </select></p>

                    <p>Maximum game weight:
                        <select name="max_weight" id="max_weight">
                            <%
var options = ["1.5", "2.0", "2.5", "3.0", "3.5", "4.0", "4.5", "5.0"];
for ( var i = 0; i < options.length; i++ )
{
    var selected = ( max_w == options[i]) ? "selected" : "";
    %><option value="<%=options[ i ] %>" <%=selected %>><%=i %></option><%
}
%>
                        </select></p>

                    <!--              <p> Preferred themes:</p>
                        <input type="checkbox" name="themes[]" value="" checked="checked">
                        <br>
                        <p> Preferred gameplay mechanisms:</p>
                        <input type="checkbox" name="mechanisms[]" value="" checked="checked"> -->

                    <br>

                </form>
            </section>
        </main>
        <footer>
            <div class="center-block">
                <hr>
            </div>
            <div class="center-block">
                <ul>
                    <li>Copyright &copy; 2019 </li>
                </ul>
            </div>

        </footer>
    </div>
</body>

</html>
